p{
    color: rgb(251, 247, 10);
    font-size: 30px;
    background-color: blue;
    margin: 20px;
    padding: 20px;
}
    audio{
        border: 10px solid tomato;
        margin: 10px;  
    }
    video{
        border: 10px solid tomato;
        margin: 10px;
    }
